<app-header></app-header>

<div class="container-fluid bg" style="background-image: url(assets/bg.jpg)">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
  <h2 class="h1" style="padding-left: 100px;">From:</h2><br>

  <form #userForm="ngForm" class="form" style="padding-left: 100px;">
    <div class="form-group">
      <label><b>Name</b></label>
      <input type="name" class="form-control" style="width: 400px;" name="name" [ngModel]="userData.name">
    </div>
    <div class="form-group">
      <label><b>Email address</b></label>
      <input type="email" class="form-control" style="width: 400px;" name="email" [ngModel]="userData.email">
    </div>
    <div class="form-group">
      <label><b>Password</b></label>
      <input type="password" class="form-control" style="width: 400px;" name="password" [ngModel]="userData.password">
    </div>
    <div class="form-group">
      <label><b>Address</b></label>
      <input type="text" class="form-control" style="width: 400px;" name="address" [ngModel]="userData.address">
    </div>
    <div class="form-group">
      <label><b>Mobile</b></label>
      <input type="text" class="form-control" style="width: 400px;" name="mobile" [ngModel]="userData.mobile">
    </div>
    <button type="submit" class="btn btn-primary" style="width: 150px;">Save</button>
  </form><br>
</div>
  <div class="col-md-3"></div>
</div><br>
</div>


<app-footer></app-footer>